<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf/extras/springsecurity">
<head>
<meta charset="UTF-8" />

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1.0" />
<title>Ficha Admision Principal</title>

<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet" />
<link href="../static/css/materialize.css"
	th:href="@{/css/materialize.css}" type="text/css" rel="stylesheet"
	media="screen,projection" />
<link href="../static/css/style.css" th:href="@{/css/style.css}"
	type="text/css" rel="stylesheet" media="screen,projection" />


<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="../static/js/materialize.js" th:src="@{/js/materialize.js}"></script>
<script src="../static/js/init.js" th:src="@{/js/init.js}"></script>

<script type="text/javascript">
	$(".button-collapse").sideNav();
</script>
<script type="text/javascript">
	$(document).ready(function() {
		$('select').material_select();

	});
</script>
</head>
<body>
	<div th:replace="fragments/header ::nav">&nbsp;</div>
	<!--   cuerpo del trabajo   -->
	<div class="container">
		<div class="section">
		<div class="section">
			<div class="row">
			<h1>Datos Apreciacion Periodontal</h1>
			</div>
		</div>
		<div class="section">
			<div class="row">
			
				<div class="col s12 m6">
							  <span class="flow-text">IDFicha: <span th:text="${apreciacioPerio.idperio}"></span></span>
							  
				</div>
			</div>
			<div class="section">
			<div class="row">
				<div class="col s6 m6">
			      
			     <span class="flow-text">Gingivitis:  <span th:text="${apreciacioPerio.gingivitis}"></span>
			     
				</span>
				
				
				</div>
			</div>
			<div class="row">
				
				<div class="col s6 m6">
			
			      
			     <span class="flow-text">Periodontitis:  <span th:text="${apreciacioPerio.periodonto}"></span>
			     
				</span>
				
				
				</div>
					<div class="col s6 m6">
			
			      
			     <span class="flow-text">Ficha:  <span th:text="${apreciacioPerio.fichaadmisionidFicha}"></span>
			     
				</span>
				
				
				</div>
			
			</div>
			
			</div>
			
			<div class="section">	
			<div class="row">
    	    <a href="#" th:href="@{/apreciacionperio/update/{idperio}(idperio=${apreciacioPerio.idperio})}" class="waves-effect waves-green btn">Editar</a>
			<a th:href="@{/hallazgoradio/radionew}" class="waves-effect waves-teal btn"><i class="material-icons left">work</i>Hallazgos Radiografico</a>
			</div>
    	    	
    	</div>
    
    	</div>
 
    
    
    <!-- fin del cuerpo del trabajo -->
    </div>
    <br/><br/>
  </div>
	
	
	
	<div th:replace="fragments/footer ::footer">&nbsp;</div>

 <!--llamada de script --> 

</body>
</html>