<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf/extras/springsecurity">
<head>
<meta charset="UTF-8"/>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Ficha Admision Principal</title>
  
   <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
  <link href="../static/css/materialize.css" th:href="@{/css/materialize.css}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="../static/css/style.css" th:href="@{/css/style.css}" type="text/css" rel="stylesheet" media="screen,projection"/>
	
	
 <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
   <script src="../static/js/materialize.js" th:src="@{/js/materialize.js}"></script>
   <script src="../static/js/init.js" th:src="@{/js/init.js}"></script>
 
<script type="text/javascript">
$(".button-collapse").sideNav();
</script> 

</head>
<body>
	<div th:replace="fragments/header ::nav">&nbsp;</div>
 <!--   cuerpo del trabajo   -->
	<div class="container">
    <div class="section">
	    <div class="section">
	    	<div class="row">
	    	
	    <!-- titulo del reporte -->
	    		<h1>Odontograma </h1>
	    	</div>
	    </div>

	<!-- Cuerpo del forumulario -->
	<form>
		<div class="section">
		
			<table >
				<thead>
				<tr>
				<th>   </th>
				<th>1.8</th>
				<th>1.7</th>
				<th>1.6</th>
				<th>1.5</th>
				<th>1.4</th>
				<th>1.3</th>
				<th>1.2</th>
				<th>1.1</th>
				<th>2.1</th>
				<th>2.2</th>
				<th>2.3</th>
				<th>2.4</th>
				<th>2.5</th>
				<th>2.6</th>
				<th>2.7</th>
				<th>2.8</th>
				</tr>
			    </thead>
			    <tbody>
				<tr>
					<td>REC</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				
				
				</tr>
				<tr>
					<td>SON</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				
				</tr>
				<tr>
					<td>NI</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				
				</tr>
				<tr>
					<td>IS</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				
				</tr>
				<tr>
					<td>IC</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				
				</tr>
				<tr>
					<td>TCR</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				
				</tr>
				<tr>
					<td>FIS</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				
				</tr>
				<tr>
					<td>L.CV</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				
				</tr>
				<tr>
					<td>MOV</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				
				</tr>
				</tbody>
				<!-- parte bajar del periotograma ahi ira el array de imagenes -->
			
			
				<!-- fin array de imagenes -->
				
				<!-- parte bajar -->
			</table>
			
			<table>
				<tfoot>
				<tr>
				<td>   </td>
				<td>4.8</td>
				<td>4.7</td>
				<td>4.6</td>
				<td>4.5</td>
				<td>4.4</td>
				<td>4.3</td>
				<td>4.2</td>
				<td>4.1</td>
				<td>3.1</td>
				<td>3.2</td>
				<td>3.3</td>
				<td>3.4</td>
				<td>3.5</td>
				<td>3.6</td>
				<td>3.7</td>
				<td>3.8</td>
					
				</tr>	
				</tfoot>
			
				
				<tbody>
					<tr>
					<td>MOV</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				
				
				</tr>
				<tr>
					<td>L.CV</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				
				</tr>
				<tr>
					<td>FIS</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				
				</tr>
				<tr>
					<td>TCR</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				
				</tr>
				<tr>
					<td>IC</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				
				</tr>
				<tr>
					<td>IS</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				
				</tr>
				<tr>
					<td>NI</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				
				</tr>
				<tr>
					<td>SON</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				
				</tr>
				<tr>
					<td>REC</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				
				</tr>
				
				</tbody>
				
			
			</table>
		
		</div>	
	
	
	
	</form>

	
 <!-- fin del cuerpo del trabajo -->
    </div>
    <br/><br/>
  </div>
	
	
	
	<div th:replace="fragments/footer ::footer">&nbsp;</div>

 <!--llamada de script --> 

</body>
</html>
