<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf/extras/springsecurity">
<head>
<meta charset="UTF-8" />

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1.0" />
<title>Ficha Admision Principal</title>

<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet" />
<link href="../static/css/materialize.css"
	th:href="@{/css/materialize.css}" type="text/css" rel="stylesheet"
	media="screen,projection" />
<link href="../static/css/style.css" th:href="@{/css/style.css}"
	type="text/css" rel="stylesheet" media="screen,projection" />


<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="../static/js/materialize.js" th:src="@{/js/materialize.js}"></script>
<script src="../static/js/init.js" th:src="@{/js/init.js}"></script>

<script type="text/javascript">
	$(".button-collapse").sideNav();
</script>
<script type="text/javascript">
	$(document).ready(function() {
		$('select').material_select();
		$('ul.tabs').tabs();
	});
	
</script>
</head>
<body>
	<div th:replace="fragments/header ::nav">&nbsp;</div>
	<!-- tabs -->
	<div class="row">
	   <div class="col s12">
	      <ul class="tabs">
	        <li class="tab col s3"><a class="teal-text"  target="_self"  th:href="@{/referencias/referenciasadulto}">Datos Clinicos</a></li>
	        <li class="tab col s3"><a class="teal-text" target="_self" th:href="@{/odontograma/odontogramanew}">Odontograma</a></li>
	        <li class="tab col s3"><a class="teal-text" target="_self" th:href="@{/hallazgoradio/radionew}">Hallazgo Radiografico</a></li>
	        <li class="tab col s3"><a class="teal-text" target="_self" href="">Necesidad Tratamiento</a></li>
	        <li class="tab col s3"><a class="teal-text" target="_self" href="" >Consentimiento</a></li>
	      </ul>
	    </div>
	   		
	
	
	</div>
	
	<!--   cuerpo del trabajo   -->
	<div class="container">
		<div class="section">
		<div class="section">
			<div class="row">
			<h1>Datos Paciente Adulto</h1>
			</div>
		</div>
		<div class="section">
			<div class="row">
			
				<div class="col s12 m6">
							  <span class="flow-text">IDFicha: <span th:text="${paciente.idpac}"></span></span>
							  
				</div>
			</div>
			<div class="row">
				<div class="col s6 m6">
			      
			     <span class="flow-text">Primer Nombre:  <span th:text="${paciente.nombre1}"></span>
			     
				</span>
				
				
				</div>
				
				<div class="col s6 m6">
			
			      
			     <span class="flow-text">Segundo Nombre:  <span th:text="${paciente.nombre2}"></span>
			     
				</span>
				
				
				</div>
			
			</div>
			<div class="row">
				<div class="col s6 m6">
			      
			     <span class="flow-text">Primer Apellido:  <span th:text="${paciente.apellido1}"></span>
			     
				</span>
				
				
				</div>
				
				<div class="col s6 m6">
			
			      
			     <span class="flow-text">Segundo Apellido:  <span th:text="${paciente.apellido2}"></span>
			     
				</span>
				
				
				</div>
			
			
			
			</div>
			
			
			<div class="row">
				<div class="col s12 m6">
					
			     <span class="flow-text">DUI :  <span th:text="${paciente.dui}"></span>
			     
				</span>
				
				</div>
				
			
			</div>
			<div class="section">	
			<div class="row">
    	    <a href="#" th:href="@{/paciente/editadulto/{idpac}(idpac=${paciente.idpac})}" class="waves-effect waves-green btn">Editar</a>
			<a th:href="@{/referencias/referenciasadulto}" class="waves-effect waves-teal btn"><i class="material-icons left">work</i>Datos Clinicos</a>
			</div>
    	    	
    	</div>
    
    	</div>
 
    
    
    <!-- fin del cuerpo del trabajo -->
    </div>
    <br/><br/>
  </div>
	
	
	
	<div th:replace="fragments/footer ::footer">&nbsp;</div>

 <!--llamada de script --> 

</body>
</html>
